@charset "utf-8";
@import "normalize";
@import "compass";
@import "compass/css3";
/*@import "breakpoint";*/
@import "skeleton";
@import "icon-fonts";
@import "general_foundicon";




img {
  max-width: 100%;
}

.header {
  background-color: #1061A3;
  padding: 2px 0;
  h2 {
    display: inline-block;

  }
}

.hero {
  background: image_url("Portland.jpg") no-repeat;
  background-size: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

.logo {
  h1 {
    color: #ffffff;
    display: inline-block;
    font-family: "ltc-bodoni-175";
    font-style: italic;
    font-weight: normal;
    font-size: 80px;
    text-indent: 20px;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0 2px 4px rgba(1,1,1,0.5);
    background: rgba(0,0,0,0.5);
    padding: 10px 10px;
    margin-top: 230px;
    span {
      font-size: 30px;
      display: block;
    }
  }
}


.about {
  font-family: "adelle";
  text-align: left;
  color: #fff;
  font-size: 23px;
  line-height: 1.6;
  background-color: #333333;
  padding-bottom: 10px;
}

.skills {
    @include clearfix;
    margin: 0;
    padding: 0;
    .three.columns {
      width: 25%;
      margin: 0;
      float: left;
    }

}


.work {
  background-color: #fff;
  .ol {
   position: center;
   display: inline;
 }

 h2 {
  font-family: "adelle";
  font-size: 48px;
  text-align: center;
  color: #000000;
 }
}
 a {
   position: relative;
   display: block;
   /*.info {*/
     /*position: absolute;*/
     /*font-size: 13px;*/
     /*width: 100%;*/
     /*height: 100%;*/
     /*background: rgba(100,149,150, 0.9);*/
     /*color: #fff;*/
     /*padding: 10px;*/
     /*top: 0;*/
     /*opacity: 0;*/
     /*@include box-sizing(border-box);*/
     /*@include transition(opacity .3s ease-in-out);*/
   /*}*/
   /*&:hover {*/
     /*.info {*/
       /*opacity: 1;*/
     /*}*/
   /*}*/
 }


.container {
  background: no-repeat;
  display: block;
  background-size: 100%;
  background-position: 50% 50%;
  position: center;
  padding-top: 10px;
  padding-bottom: 10px;
  .eight.columns {
    width: 300px;
  }
}

.footer {
  .row {
    margin: 0;
  }
  display: block;
  background-color: #626366;
  text-align: center;
  padding: 20px 0;
  a {
    text-decoration: none;
    margin: 0, 5px;
  }
}

.treehouse {
  .container {
   font-family: "adelle";
   font-size: 24px;
   text-align: center;
   padding-top: 10px;
  }
  a {
    display: block;
  }
  img {
  &:hover {
    opacity: .5;
  }
  }
}

@media screen and (max-width: 1160px){
  .hero {
    background: image_url("Portland.jpg") right top;
    height: 400px;
  }
}

@media screen and (max-width: 930px){
  .hero {
    background: image_url("Portland.jpg") right center;
  }
}


@media screen and (max-width: 630px) {
  .hero {
    background: image_url("Portland.jpg") center no-repeat;
  }
  .logo {
    h1 {
     font-size: 40px;
     text-align: center;
    }
    span {
      font-size: 20px;
      text-align: center;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 400px) {
  .hero {
    background: image_url("Portland.jpg") center center no-repeat;
    background-size: cover;
    height: 400px;
    a {
      display: none;
    }   
  }
  .logo {
    span {
      font-size: 14px;
    }
  }
}
