---
title: Julian Fields Design
description: "Designer, Engineer, Surfer.  Julian loves people, business, life, and surfing in no particular order."
keywords:  "Julian Fields, Julian, fields, Design, Web Developement, Surfing, People, Ruby, Javascript, Portland, Oregon."
---
.hero
  .logo
    %h1
      Julian Fields
      %span
        Aspiring Designer
        %i •
        Photographer
        %i •
        Surfer
.about
  .container
    .row
      .sixteen.columns
        :markdown
          My name is Julian Fields.  I am a dedicated husband, son, and brother.  I grew up in Oregon, with mountains to the east and ocean to the west. Whether it's surfing, skiing or design, I have always admired
          clean lines and style.  Prior experience in film and running my family's chai businesss have created a unique understanding of how to solve real
          world problems.

          I believe that compassion and empathy are two key ingredients when working with individuals and groups.
           As long as you are open to the possiblilites then the sky is the limit.  I embody this belief and live by it.  Web development and design has opened up my artistic
          side and makes me excited to work everyday.

          Whether it's a website, an app, or new way of shooting a photograph, life is a playground for learning and exploration.  I try to learn something new everyday and
          help others.

.skills
  .three.columns
    %img(src="images/html.png")
  .three.columns
    %img(src="images/css.png")
  .three.columns
    %img(src="images/design.png")
  .three.columns
    %img(src="images/photo.png")

.work
  .container
    .row
      .sixteen.columns
        %h2 Here's what I've been working on
    .row
      .four.columns.sattwa
        = link_to "http://sattwachai.com" do
          %img(src="/images/sattwa-logo.png")
          .info
            :markdown
              ### sattwa.com

              The folks at Sattwa Chai wanted a new site for sometime, one that could be easily managed and tell their story.
              The site is simple, clean and responsive.

              * Design
              * Develoement (Ruby, Haml, Sass)
              * AWS S3 Hosting
      .four.columns.eastwind
        = link_to "http://eastwind-search.herokuapp.com" do
          %img(src="/images/eastwind-logo-1.jpg")
          .info
            :markdown
              ### eastwind-search.herokuapp.com

              Eastwind is a a work in progress.
              In time I hope it's a place extraordinary people share their story.

              * Design
              * Development (Ruby, Haml, Sass)
              * Heroku for hosting
      .four.columns.natofeelz
        = link_to "http://natofeelz.com" do
          %img(src="/images/nato-feelz-logo.png")
          .info
            :markdown
              ### natofeelz.com

              Nato Feelz is a producer and sound designer.  His site allow for fans and music lovers to hear his music.

              * Design and photography
              * Development (Squarespace)
              * squarespace for hosting
      .four.columns.hotbird
        = link_to "http://hotbirdrunning.com" do
          %img(src="/images/hb-logo.png")
          .info
            :markdown
              ### Hotbirdrunning.com


              Hot Bird Running coaches people of all skill levels to become better runners.  We gave
              their website a complete makeover using squarespace so they could manage ther site on their own.

              * Wireframing
              * Design & Development (Squarespace)
              * squarespace for hosting


