---
title: Julian Fields Design
description: "Designer, Engineer, Surfer.  Julian loves people, business, life, and surfing in no particular order."
keywords:  "Julian Fields, Julian, fields, Design, Web Developement, Surfing, People, Ruby, Javascript, Portland, Oregon."
---
.hero
  .logo
    %h1
      Julian Fields
      %span
        Aspiring Designer
        %i •
        Engineer
        %i •
        Surfer
.about
  .container
    .row
      .sixteen.columns
        :markdown
          My name is Julian Fields.  I am a dedicated husband, son, and brother.  I grew up in Oregon, with mountains to the east and ocean to the west. Whether it's surfing, skiing or design, I have always admired
          clean lines and style.  Prior experience in film and running my family's chai businesss have created a unique understanding of how to solve real
          world problems.  An emphasis in working efficiently and effectively while keeping vision on the overall goal is something I excel at.  I understand
          that there will be breakdown anytime you are on the edge, but on the edge is where the magic happens, and where I choose to be!

          I believe that compassion and empathy are two key ingredients when working with individuals and groups.  Everyone has a story, history and past experiences.
          As long as you are open to the possiblilites then the sky is the limit.  I embody this belief and live by it.  Web development and design has opened up my artistic
          side and makes me excited to work everyday.

          It's not how you perform when things are going well, but when the pressure is on.  Showing up is more than arriving on time, it's putting yourself on the hook
          for something, following through on your word and what you are committed to.  If you are fully committed, you will achieve your goals and likely exceed them.  It is this
          philosopy that I use to stay relaxed in a fast paced uncertain world.


.work
  .container
    .row
      .sixteen.columns
        %h2 Here's what I've been working on
    .row
      .eight.columns.sattwa
        = link_to "http://sattwachai.com" do
          %img(src="/images/sattwa-screenshot.png")
          .info
            :markdown
              ### sattwa.com

              The folks at Sattwa Chai wanted a new site for sometime, one that could be easily managed and tell their story.
              The site is simple, clean and responsive.

              * Design
              * Development (Ruby, Haml, Sass)
              * AWS S3 Hosting
      .eight.columns.eastwind
        = link_to "http://eastwind-search.herokuapp.com" do
          %img(src="/images/eastwind-screenshot.png")
          .info
            :markdown
              ### eastwind-search.herokuapp.com

              Eastwind is a dumping ground for  my thoughts and a work in progress.
              In time I hope to have many contributors let it be a place for people to hang out and read
              interesting experience of extraordinary people.

              * Design
              * Devlopement (Ruby, Haml, Sass)
              * Heroku for hosting
.treehouse
  .container
    .row
      .sixteen.columns
        %h3 Checkout what I've been learning at teamtreehouse.com
        = link_to "http://teamtreehouse.com/julianfields" do
          %img(src="/images/treehouse-logo.png")
        %h3 Also, you can find me on Github
        =link_to "https://github.com/julianfields" do
          %img(width="55px"src="/images/github.png")

