---

title: Julian Fields Design

---
.hero
  .logo
    %h1
      Julian Fields
      %span Designer • Engineer • Surfer
.about
  .container
    .row
      .sixteen.columns
        :markdown
          Julian Fields is a dedicated husband, son, and brother.  He grew up in Oregon, with mountains to the east and ocean to the west. Whether it's surfing, skiing or design, Julian admires
          clean lines and style.  His prior experience in film and running his family's chai businesss have created a unique understanding of how to solve real
          world problems.  An emphaasis in working efficiently and effectively while keeping vision on the overall goal is something Julian excels at.  Julian understands
          that there will be breakdown anytime you are on the edge, but on the edge is where the magic happens, and where he chooses to be!

          He believes that compassion and empathy are two key ingredients when working with individuals and groups.  Everyone has a story, history and past experiences.
          As long as you are open to the possiblilites than anything is possible.  Julian embodies this belief and lives by it.  Web development and design has opened up
          Julian to his artistic side and in doing so has allowed for him to find a skill that makes him excited to work everyday.

          It's not how you perform when things are going well, but when the pressure is on.  Showing up is more than arriving on time, it's putting yourself on the hook 
          for something, following through on your word and what you are committed to.  If you are fully committed, you will achieve your goals and likely exceed them.  It is this
          philosopy that Julian uses to stay relaxed in a fast paced uncertain world.


.work
  .container
    .row
      .sixteen.columns
        %h2 This Is My Work
    .row
      .eight.columns.sattwa
        = link_to "http://sattwachai.com" do
          %img(src="/images/sattwa-screenshot.png")
          .info
            :markdown
              ### sattwa.com

              some paragraph of text here...

              * Design
              * Development (Ruby, Haml, Sass)
              * AWS S3 Hosting
      .eight.columns.eastwind
        = link_to "http://eastwind-search.herokuapp.com" do
          %img(src="/images/eastwind-screenshot.png")
          .info
            :markdown
              ### eastwind-search.herokuapp.com

              * Design
              * Devlopement (Ruby, Haml, Sass)
              * Heroku for hosting
